@{
    ViewBag.Title = "Inventario Cajas | Locales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Registro de inventario</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Inventario</li>
            <li class="breadcrumb-item1 active">Inventario Cajas</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden needs-validation" id="formInventario">
            @Html.Partial("_CardHeader", "Inventario de cajas")

            <div class="card-body pt-3 pb-0">
                <div class="row mb-4" id="btn-local">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" id="btnImportar" class="btn btn-sm btn-primary btn-block"><i class="fa fa-upload"></i> Cargar Excel</button>
                        <input type="file" id="excelInventario" style="display: none;">
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" id="btnDescargarPlantillas" class="btn btn-sm btn-warning btn-block"><i class="fa fa-download"></i> Plantilla Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ERRORES-->
<div class="modal fade" id="modalErroresImportacionCaja" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalCaja"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fila</th>
                            <th>Mensaje</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyErroresCaja">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/Content/ViewJs/InventarioCaja2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            InventarioCaja.init();
        });
    </script>
}

