
@{
    ViewBag.Title = "Inicio";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Inicio</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home")>Inicio</a></li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card" >
            <img class="img-fluid" src="~/Content/images/fondo_inicio.jpg"
                 alt="SPSA" />
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Content/ViewJs/Home.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Home.init();
        });
    </script>
}

