@{
    ViewBag.Title = "Reporte de cierre | Locales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Reporte de cierre</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Locales</li>
            <li class="breadcrumb-item1 active">Reporte de cierre</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden">
            @Html.Partial("_CardHeader", "Reporte")
            <div class="card-body">

                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Empresa</label>
                            <select class="form-control is-valid select2-show-search custom-select" id="cboEmpresa" required>
                                <option label="Seleccione una empresa"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Cadena</label>
                            <select class="form-control select2-show-search custom-select" id="cboCadena" required>
                                <option label="Seleccione una cadena"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Region</label>
                            <select class="form-control select2-show-search custom-select" id="cboRegion" required>
                                <option label="Seleccione una region"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Zona</label>
                            <select class="form-control select2-show-search custom-select" id="cboZona" required>
                                <option label="Seleccione una zona"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group select2-sm ">
                            <label class="form-label">Año</label>
                            <select class="form-control select2-show-search custom-select" id="cboAño">
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group select2-sm ">
                            <label class="form-label">Mes</label>
                            <select class="form-control select2-show-search custom-select" id="cboMes">
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <button id="btnConsultar" class="btn btn-sm btn-primary mb-4  ms-2">
                                <i class="fe fe-search me-1"></i>
                                Consultar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group data-table-btn">
                    <table>
                        <tr>
                            <td style="padding: 5px; margin-bottom: 0px; font-size: 0.8rem;">A = Abierto</td>
                            <td style="padding: 5px; margin-bottom: 0px;" class="bg-danger">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td style="padding: 5px; margin-bottom: 0px; font-size: 0.8rem;">P = Precierre</td>
                            <td style="padding: 5px; margin-bottom: 0px;" class="bg-warning">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td style="padding: 5px; margin-bottom: 0px; font-size: 0.8rem;">C = Cerrado</td>
                            <td style="padding: 5px; margin-bottom: 0px;" class="bg-success">&nbsp;&nbsp;&nbsp;&nbsp;</td>

                        </tr>
                    </table>
                </div>

                <table id="tableReportes" class="table table-bordered text-nowrap border-bottom">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/date-picker/date-picker.js"></script>
    <script src="~/Content/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.maskedinput.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/ViewJs/ReportesTesoreriaCajeroCierre.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ReportesTesoreriaCajeroCierre.init();
        });
    </script>
}


