@model string

<div class="card-header bg-primary ">
    <h6 class="card-title text-white">@Model</h6>
    <div class="card-options ">
        <a href="javascript:void(0);" class="card-options-collapse me-2" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
    </div>
</div>

