@{
    ViewBag.Title = "Administrar | Aperturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        tr.selected {
            background-color: #cce5ff; /* Color de fondo azul claro para las filas seleccionadas */
        }
    </style>
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Mantenimiento de Aperturas</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Aperturas</li>
            <li class="breadcrumb-item1 active">Administrar</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden">
            @Html.Partial("_CardHeader", "Cajeros")
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <button id="btnNuevaApertura" class="btn btn-sm btn-primary mb-4 ms-1"><i class="fe fe-user-plus me-1"></i>Nueva Apertura</button>
                        <button id="btnEditarApertura" class="btn btn-sm btn-primary mb-4 ms-1"><i class="fe fe-edit me-1"></i>Editar Apertura</button>
                        @*<button id="btnEliminarApertura" class="btn btn-sm btn-primary mb-4 ms-1"><i class="fe fe-x-circle me-1"></i>Eliminar Apertura</button>*@
                        <button id="btnDescargarArchivo" class="btn btn-sm btn-primary mb-4 ms-1"><i class="fe fe-download me-1"></i>Descargar Excel</button>
                        <button id="btnCargarArchivo" class="btn btn-sm btn-primary mb-4 ms-1"><i class="fe fe-upload me-1"></i>Cargar Excel</button>
                    </div>
                    <div class="col-xl-12">
                        <table id="tableAperturas" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;">PMM</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">NOM PMM</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">SAP</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">SAP NEW</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">NOM SAP</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">OFIPLAN</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">NOM OFIPLAN</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">ADMINISTRADOR</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">CECO</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD COMERCIO</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">FECHA</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CREAR APERTURA -->
<div class="modal fade" id="modalAperturas" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalApertura"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnActualizarApertura" class="btn btn-sm btn-primary">Actualizar</button>
                <button id="btnGuardarApertura" class="btn btn-sm btn-primary">Guardar</button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>

    @*<script src="~/Content/js/datatables.js"></script>*@
    @*<script src="~/Content/js/sweet-alert.js"></script>*@
    <script src="~/Content/ViewJs/AdministrarApertura.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AdministrarLocalAperturas.init();
        });
    </script>
}

