@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="DayOne - It is one of the Major Dashboard Template which includes - HR, Employee and Job Dashboard. This template has multipurpose HTML template and also deals with Task, Project, Client and Support System Dashboard." name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="admin dashboard, admin panel template, html admin template, dashboard html template, bootstrap 5 dashboard, template admin bootstrap 5 , simple admin panel template, simple dashboard html template,  bootstrap admin panel, task dashboard, job dashboard, bootstrap admin panel, dashboards html, panel in html, bootstrap 5 dashboard, bootstrap 5 dashboard, bootstrap5 dashboard" />

    <!-- Title -->
    <title>Error en el servidor | Sistema de gestión de cajas</title>

    <!--Favicon -->
    <link rel="icon" href="~/Content/images/brand/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" id="style" />

    <!-- Style css -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/plugins.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="~/Content/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/Content/css/icons.css" rel="stylesheet" />

</head>

<body class="login-img">

    <div class="page responsive-log relative error-bg1">
        <div class="page-content m-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto d-block">
                        <div class="card p-7 mb-0">
                            <div class="text-center">
                                <div class="fs-100  mb-5 text-primary h1">oops!</div>
                                <h1 class="h3  mb-3 font-weight-semibold">Error 500: Error Interno del Servidor</h1>
                                <p class="h5 font-weight-normal mb-7 leading-normal">Es posible que haya escrito mal la dirección o que la página se haya movido.</p>
                                <a class="btn btn-primary" href=@Url.Action("Index", "Home", new {area=""})><i class="fe fe-arrow-left-circle me-1"></i>Regresar al inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery js-->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Content/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Select2 js -->
    <script src="~/Content/plugins/select2/select2.full.min.js"></script>

    <!-- P-scroll js-->
    <script src="~/Content/plugins/p-scrollbar/p-scrollbar.js"></script>

    <!--Sticky js -->
    <script src="~/Content/js/sticky.js"></script>


    <!-- Color Theme js -->
    <script src="~/Content/js/themeColors.js"></script>

    <!-- custom js -->
    <script src="~/Content/js/custom.js"></script>

</body>
</html>