
@{
    ViewBag.Title = "BCT | Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>

        div.dt-buttons {
            display: block !important;
            width: 100% !important;
        }


        #tableListado thead th {
            padding: 0px 22px !important;
        }

        #tableCantidad thead th {
            padding: 0px 22px !important;
        }

        .form-control[readonly] {
            background-color: #fff;
            opacity: 1;
        }
    </style>
}

<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Monitoreo - BCT</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Monitoreo</li>
            <li class="breadcrumb-item1 active">BCT</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden">
            @Html.Partial("_CardHeader", "Monitor BCT")
            <div class="card-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="background-color: #f3f3f0;">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="~/Content/images/brand/logo-super-food.png"
                                             class="header-brand-img desktop-lgo"
                                             style=" height: 50px;"
                                             alt="Dayonelogo" />
                                    </div>

                                    <div class="col-md-12 text-center mt-3">
                                        <h4>SPSA</h4>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="custom-controls-stacked mt-2" style="margin-left:20px;">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkEmpresaSpsa" value="02" checked disabled>
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblToleranciaSpsa"></h6>
                                            </div>
                                            <div class="col-md-4 text-end">
                                                <button class="btn btn-sm rounded-circle" id="btnResultadoCantidadSpsa">&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <h2 id="lblCantidadSpsa" style=" border-style: double;"></h2>
                                    </div>

                                    <div class="col-md-12" style="border-style: inherit;">
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Fecha Negocio:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblFechaNegocioSpsa"></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoFechaNegocioSpsa">&nbsp;</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Conexión BD:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2"> --></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoConexionSpsa">&nbsp;</i>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="background-color: #f3f3f0;">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="~/Content/images/brand/logo-oechsle.png"
                                             class="header-brand-img desktop-lgo"
                                             style=" height: 50px;"
                                             alt="Dayonelogo" />
                                    </div>

                                    <div class="col-md-12 text-center mt-3">
                                        <h4>TPSA</h4>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="custom-controls-stacked mt-2" style="margin-left:20px;">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkEmpresaOechsle" value="09" checked disabled>
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblToleranciaOechsle"></h6>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-sm rounded-circle" id="btnResultadoCantidadOechsle">&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <h2 id="lblCantidadOechsle" style=" border-style: double;"></h2>
                                    </div>

                                    <div class="col-md-12" style="border-style: inherit;">
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Fecha Negocio:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblFechaNegocioOechsle"></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoFechaNegocioOechsle">&nbsp;</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Conexión BD:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2"> --></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoConexionOechsle">&nbsp;</i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="background-color: #f3f3f0;">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="~/Content/images/brand/logo-promart.png"
                                             class="header-brand-img desktop-lgo"
                                             style=" height: 50px;"
                                             alt="Dayonelogo" />
                                    </div>

                                    <div class="col-md-12 text-center mt-3">
                                        <h4>HPSA - PERÚ</h4>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="custom-controls-stacked mt-2" style="margin-left:20px;">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkEmpresaPromart" value="10" checked disabled>
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblToleranciaPromart"></h6>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-sm rounded-circle" id="btnResultadoCantidadPromart">&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <h2 id="lblCantidadPromart" style=" border-style: double;"></h2>
                                    </div>

                                    <div class="col-md-12" style="border-style: inherit;">
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Fecha Negocio:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblFechaNegocioPromart"></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoFechaNegocioPromart">&nbsp;</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Conexión BD:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2"> --></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoConexionPromart">&nbsp;</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card" style="background-color: #f3f3f0;">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-12 text-center">
                                        <img src="~/Content/images/brand/logo-promart.png"
                                             class="header-brand-img desktop-lgo"
                                             style=" height: 50px;"
                                             alt="Dayonelogo" />
                                    </div>

                                    <div class="col-md-12 text-center mt-3">
                                        <h4>HPSA - ECUADOR</h4>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="custom-controls-stacked mt-2" style="margin-left:20px;">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="chkEmpresaPromartEcu" value="11" checked disabled>
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblToleranciaPromartEcu"></h6>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-sm rounded-circle" id="btnResultadoCantidadPromartEcu">&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <h2 id="lblCantidadPromartEcu" style=" border-style: double;"></h2>
                                    </div>

                                    <div class="col-md-12" style="border-style: inherit;">
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Fecha Negocio:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2" id="lblFechaNegocioPromartEcu"></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoFechaNegocioPromartEcu">&nbsp;</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 text-start">
                                                <h6 class="mt-2"><b>Conexión BD:</b></h6>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <h6 class="mt-2"> --></h6>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <i class="fa" style="font-size: 25px;" id="btnEstadoConexionPromartEcu">&nbsp;</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/date-picker/date-picker.js"></script>
    <script src="~/Content/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.maskedinput.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/ViewJs/BCT.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            BCT.init();
        });
    </script>
}

