
@model string
@{
    ViewBag.Title = "Movimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Administrar Proveedores</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Movimiento</li>
            <li class="breadcrumb-item1 active">Kardex</li>
        </ol>
    </div>
</div>

<div class="col-xl-12">
    <div class="card overflow-hidden">
        @Html.Partial("_CardHeader", "Movimiento Kardex")
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="fDesde" class="form-label">Desde</label>
                        <input type="date" id="fDesde" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="fHasta" class="form-label">Hasta</label>
                        <input type="date" id="fHasta" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button id="btnDescargarKardex" class="btn btn-sm btn-success w-100">
                        <i class="fe fe-download me-1"></i> Descargar Kardex
                    </button>
                </div>
            </div>

            @*<div class="row">
                <div>
                    <button id="btnNuevoProveedor" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-plus"></i> Nuevo
                    </button>
                    <button id="btnEditarProveedor" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-edit-2"></i> Modificar
                    </button>
                    <button id="btnEliminarProveedor" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-trash"></i> Eliminar
                    </button>
                </div>
            </div>*@
            @*<div class="row">
                <div class="col-12">
                    <table id="tableProveedores" class="table table-bordered text-nowrap border-bottom">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 30px; text-align: center;">
                                    <input type="checkbox" id="checkAllRows" />
                                </th>
                                <th>Ruc</th>
                                <th>RazonSocial</th>
                                <th>Activo</th>
                                <th>U. Creacion</th>
                                <th>F. Creacion</th>
                                <th>U. Modifica</th>
                                <th>F. Modifica</th>
                                <th>U. Elimina</th>
                                <th>F. Elimina</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>*@

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/Content/ViewJs/MovimientoKardex.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            MovimientoKardex.init();
        });
    </script>
}
