@model SPSA.Autorizadores.Aplicacion.Features.InventarioKardex.DTOs.InvKardexLocalDTO

<div class="row needs-validation" id="formInvLocal">
    @*<div class="col-xl-2 col-md-2">
        <div class="form-group">
            <label for="txtId" class="form-label">Id</label>
            <input type="number" class="form-control" id="txtId" value="@Model.Id" required>
        </div>
    </div>*@
    <div class="col-xl-5 col-md-4">
        <div class="form-group">
            <label for="txtSociedad" class="form-label">Sociedad</label>
            <input type="text" class="form-control" id="txtSociedad" value="@Model.Sociedad" required>
        </div>
    </div>
    <div class="col-xl-5 col-md-4">
        <div class="form-group">
            <label for="txtNomLocal" class="form-label">NomLocal</label>
            <input type="text" class="form-control" id="txtNomLocal" value="@Model.NomLocal" required>
        </div>
    </div>
</div>