@model string
@{
    ViewBag.Title = "Mantenimiento de locales | Locales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input.form-control-sm {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        height: calc(1.5em + 0.5rem + 2px);
        line-height: 1.5;
        font-size: 0.87rem;
    }
</style>

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Mantenimiento de locales</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Locales</li>
            <li class="breadcrumb-item1 active">Administrar</li>
        </ol>
    </div>
</div>
<!-- MANTENIMIENTO LOCAL-->
<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden needs-validation" id="formLocal">
            @Html.Partial("_CardHeader", "Local")
            <div class="card-body pt-1 pb-0">
                <div class="row mb-4" id="btn-local">
                    <div class="col-12 d-flex justify-content-between mb-3">
                        <div class="d-flex">
                            <button type="button" id="btnNuevoLocal" class="btn btn-sm btn-primary text-wrap me-2" hidden>
                                <i class="fa fa-plus"></i> Nuevo
                            </button>
                        </div>
                        <div class="d-flex">
                            <button type="button" id="btnDescargarLocalesPorEmpresa" class="btn btn-sm btn-default text-wrap me-2">
                                <i class="fa fa-download"></i> Locales x Empresa
                            </button>
                            <button type="button" id="btnDescargarCajasPorEmpresa" class="btn btn-sm btn-default text-wrap me-2">
                                <i class="fa fa-download"></i> Cajas x Empresa
                            </button>
                            <button type="button" id="btnPlantillas" class="btn btn-sm btn-default text-wrap me-2 text-blue">
                                <i class="fa fa-download"></i> Plantillas
                            </button>
                            <button type="button" id="btnImportarLocales" class="btn btn-sm btn-outline-success text-wrap me-2">
                                <i class="fa fa-upload"></i> Importar Locales
                            </button>
                            <input type="file" id="excelImportarLocales" style="display: none;">
                            <button type="button" id="btnImportarCajas" class="btn btn-sm btn-outline-success text-wrap me-2">
                                <i class="fa fa-upload"></i> Importar Cajas
                            </button>
                            <input type="file" id="excelImportarCajas" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 pb-0">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Empresa</label>
                            <select class="form-control is-valid select2-show-search custom-select" id="cboEmpresa" required>
                                <option label="Seleccione una empresa"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Cadena</label>
                            <select class="form-control select2-show-search custom-select" id="cboCadena" required>
                                <option label="Seleccione una cadena"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Region</label>
                            <select class="form-control select2-show-search custom-select" id="cboRegion" required>
                                <option label="Seleccione una region"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Zona</label>
                            <select class="form-control select2-show-search custom-select" id="cboZona" required>
                                <option label="Seleccione una zona"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Local</label>
                            <select class="form-control select2-show-search custom-select" id="cboLocal" required>
                                <option label="Seleccione un local"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="form-group w-100">
                            <label class="form-label"></label>
                            <button type="button" id="btnBuscarLocalPorEmpresa" class="btn btn-sm btn-primary text-wrap w-100"><i class="fa fa-search"></i> Buscar x Empresa</button>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6">
                        <div class="form-group w-100">
                            <label class="form-label d-none d-md-block">&nbsp;</label>
                            <button type="button" id="btnLimpiarTodo" class="btn btn-sm btn-outline-secondary text-wrap w-100">
                                <i class="fa fa-undo"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2 pb-2">
                <div class="card-title text-center"><b>Información de local</b></div>
                <div class="row">
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtCodLocal" class="form-label">Código Local</label>
                            <input type="text" class="form-control form-control-sm" maxlength="4" id="txtCodLocal" required>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="form-group">
                            <label for="txtNomLocal" class="form-label">Nombre Local</label>
                            <input type="text" class="form-control form-control-sm" maxlength="100" id="txtNomLocal" required oninput="this.value = this.value.toUpperCase()">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group select2-sm">
                            <label class="form-label">Estado</label>
                            <select class="form-control select2-show-search custom-select" id="cboTipEstado" required>
                                <option value="A" selected>ACTIVO</option>
                                <option value="P">POR APERTURAR</option>
                                <option value="R">REMODELACIÓN</option>
                                <option value="E">ELIMINADO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtCodLocalPMM" class="form-label">Cod Local PMM</label>
                            <input type="number" class="form-control form-control-sm" value="0" id="txtCodLocalPMM" required>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtIP" class="form-label">IP</label>
                            <input type="text" class="form-control form-control-sm" maxlength="18" id="txtIP" value="0.0.0.0" required>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="form-group">
                            <label for="txtDirLocal" class="form-label">Dirección</label>
                            <input type="text" class="form-control form-control-sm" maxlength="50" id="txtDirLocal">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtUbigeo" class="form-label">Ubigeo</label>
                            <input type="text" class="form-control form-control-sm" maxlength="6" id="txtUbigeo" value="000000">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtCodLocalOfiplan" class="form-label">Cod Local Ofiplan</label>
                            <input type="number" class="form-control form-control-sm" value="0" maxlength="5" id="txtCodLocalOfiplan">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtNomLocalOfiplan" class="form-label">Nombre Local Ofiplan</label>
                            <input type="text" class="form-control form-control-sm" id="txtNomLocalOfiplan">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtCodLocalSunat" class="form-label">Cod. Sunat</label>
                            <input type="number" class="form-control form-control-sm" maxlength="10" id="txtCodLocalSunat" value="0" required>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtFecApertura" class="form-label">Fecha Apertura</label>
                            <input type="date" class="form-control form-control-sm" id="txtFecApertura" disabled>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtFecCierre" class="form-label">Fecha Cierre</label>
                            <input type="date" class="form-control form-control-sm" id="txtFecCierre">
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4">
                        <div class="form-group">
                            <label for="txtFecEntrega" class="form-label">Fecha Entrega</label>
                            <input type="date" class="form-control form-control-sm" id="txtFecEntrega">
                           
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <button type="button" id="btnGuardarLocal" class="btn btn-primary btn-sm btn-block text-wrap"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <button type="button" id="btnGuardarCambiosLocal" class="btn btn-primary btn-sm btn-block text-wrap" disabled><i class="fa fa-save"></i> Guardar Cambios</button>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12">
                        <button type="button" id="btnHabilitarlCambioRegionZona" class="btn btn-default btn-sm btn-block text-wrap" disabled><i class="fa fa-pencil"></i> Habilitar Región/Zona</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card overflow-hidden">
            @Html.Partial("_CardHeader", "Cajas")
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <table id="tableCajas" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;">NUM CAJA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">IP</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">OS</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">TIPO</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">UBICACION</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-2" id="btn-cajas">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block btn-sm mb-2" id="btnNuevaCaja" type="button" disabled><i class="fa fa-plus"></i> Nuevo</button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block btn-sm mb-2" id="btnEditarCaja" type="button" disabled><i class="fa fa-pencil"></i> Editar</button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-outline-danger btn-block btn-sm mb-2" id="btnEliminarCaja" type="button" disabled><i class="fa fa-remove"></i> Eliminar</button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block btn-sm mb-2" id="btnDescargarCajasPorLocal" type="button" disabled><i class="fa fa-download"></i> Descargar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card overflow-hidden">
            @Html.Partial("_CardHeader", "Horarios")
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <table id="tableHorarios" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;">NUM DIA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD DIA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">APERTURA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">CIERRE</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">MIN LMT</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-2" id="btn-horarios">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block btn-sm mb-2" id="btnNuevoHorario" type="button" disabled><i class="fa fa-plus"></i> Nuevo</button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block btn-sm mb-2" id="btnEditarHorario" type="button" disabled><i class="fa fa-pencil"></i> Editar</button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-outline-danger btn-block btn-sm mb-2" id="btnEliminarHorario" type="button" disabled><i class="fa fa-remove"></i> Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- MODAL LOCAL-->
<div class="modal fade" id="modalLocales" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Seleccione un local</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tableLocales" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;">LOCAL</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">NOMBRE</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">PMM</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">OFIPLAN</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">CODIGO SUNAT</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_EMPRESA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_CADENA</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_REGION</th>
                                    <th class="border-bottom-0" style="font-size: 11px;">COD_ZONA</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnObtenerLocal" class="btn btn-sm btn-primary">Aceptar</button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DESCARGAR PLANTILLAS -->
<div class="modal fade" id="modalPlantillas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalPlantillas">Plantillas Excel </h6>
                <button aria-label="Close" class="btn-close text-end" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-12" id="btn-plantillas">
                    <div class="col-md-12">
                        <button class="btn btn-default btn-block btn-sm mb-2" id="btnPlantillaLocal" type="button"><i class="fa fa-download"></i> Plantilla Local</button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-default btn-block btn-sm mb-2" id="btnPlantillaCaja" type="button"><i class="fa fa-download"></i> Plantilla Caja</button>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-default btn-block btn-sm mb-2" id="btnPlantillaHorario" type="button"><i class="fa fa-download"></i> Plantilla Horario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CAJA-->
<div class="modal fade" id="modalCaja" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalCaja"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnActualizarCaja" class="btn btn-sm btn-primary">Actualizar</button>
                <button id="btnGuardarCaja" class="btn btn-sm btn-primary">Guardar</button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL HORARIO -->
<div class="modal fade" id="modalHorario" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalHorario"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnActualizarHorario" class="btn btn-primary">Guardar</button>
                <button id="btnGuardarHorario" class="btn btn-primary">Guardar</button>
                <button class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ERRORES -->
<div class="modal fade" id="modalErrores" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalErrores"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Fila</th>
                            <th>Mensaje</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyErrores">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/Content/ViewJs/AdministrarMaestroLocal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AdministrarMaestroLocal.init();
        });
    </script>
}
