@model SPSA.Autorizadores.Aplicacion.DTO.LocalOfiplanDTO

<div class="row needs-validation" id="formLocalPMM">
    <div class="col-xl-6">
        <div class="form-group">
            <label for="txtCadena" class="form-label">Cadena</label>
            <input type="text" class="form-control form-control-sm" id="txtCadenaPMM" value="@Model.CodCadenaCt2" required>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="form-group">
            <label for="txtLocal" class="form-label">Local</label>
            <input type="text" class="form-control form-control-sm" id="txtLocalPMM" value="@Model.CodLocalCt2" required>
        </div>
    </div>
</div>