@{
    ViewBag.Title = "Mantenimiento | Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Listado De Activos (Kardex)</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Inventario</li>
            <li class="breadcrumb-item1 active">Kardex Activos</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden needs-validation" id="formInventario">
            @Html.Partial("_CardHeader", "Listado")
            <div class="card-body">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between mb-3">
                        <!-- Botones alineados a la izquierda -->
                        <div class="d-flex">
                            <button type="button" id="btnNuevoInvActivo" class="btn btn-sm btn-primary me-2">
                                <i class="fa fa-plus"></i> Nuevo
                            </button>
                            <button type="button" id="btnEditarInvActivo" class="btn btn-sm btn-warning me-2">
                                <i class="fa fa-pencil"></i> Editar
                            </button>
                            <button type="button" id="btnEliminarInvActivo" class="btn btn-sm btn-danger me-2">
                                <i class="fa fa-remove"></i> Eliminar
                            </button>
                        </div>

                        <!-- Botón alineado a la derecha -->
                        <div class="d-flex">
                            <button type="button" id="btnDescargar" class="btn btn-sm btn-default me-2">
                                <i class="fa fa-download"></i> Descargar Activos
                            </button>
                            <button type="button" id="btnIrKardex" class="btn btn-sm btn-dark me-2">
                                <i class="fa fa-arrow-right fa-2x"></i> Ir a Kardex
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <table id="tableActivos" class="table text-nowrap border-bottom">
                            <thead>
                                <tr class="table-primary">
                                    <th class="border-bottom-0" style="font-size: 15px;">ID</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">MODELO</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">DESCRIPCION</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">MARCA</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">AREA</th>
                                    <th class="border-bottom-0" style="font-size: 15px;">TIPO</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL CREAR INV KARDEX -->
<div class="modal fade" id="modalInvActivo" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalInvActivo"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="btnActualizarInvActivo" class="btn btn-primary">Guardar</button>
                <button id="btnGuardarInvActivo" class="btn btn-primary">Guardar</button>
                <button class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/date-picker/date-picker.js"></script>
    <script src="~/Content/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.maskedinput.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/ViewJs/AdministrarInvKardexActivo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AdministrarInvKardexActivo.init();
        });
    </script>
}

