<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="Seguridad" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.11.11)(PORT = 1544)))(CONNECT_DATA = (SERVICE_NAME = SPT02))); User Id = SSEGADM; Password = SEGU00; Min Pool Size=1; Max Pool Size=10;" />
		<!--<add name="Autorizadores" connectionString="Data Source = (DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.11.11)(PORT = 1544)) (CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = SPT03))); User Id = EAUTORIZADOR; Password = Juyr6%jfBBU; Min Pool Size=1; Max Pool Size=10;" />-->
		<add name="Autorizadores" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)  (HOST = 10.20.11.51)(PORT = 1521) ) (CONNECT_DATA =  (SERVER = DEDICATED) (SERVICE_NAME = SPT02Q))); User Id = SAUTORIZADOR; Password = D3uyt#hen8; Min Pool Size=1; Max Pool Size=10;" />
		<!--<add name="Carteleria" connectionString="Server=10.20.16.15\SPSAPRD;Initial Catalog=Cartel;Persist Security Info=False;User ID=adm_cartel;Password=Riki2009;MultipleActiveResultSets=False;Connection Timeout=30" /> -->
		<add name="Carteleria" connectionString="Server=10.20.12.52\spsaqa;Initial Catalog=Cartel_2;Persist Security Info=False;User ID=adm_cartel_piloto;Password=Spsa2017;MultipleActiveResultSets=False;Connection Timeout=30;Encrypt=True;TrustServerCertificate=True;" />
		<add name="BCT" connectionString="Server=10.20.11.13\sqlspsav2;Initial Catalog=ASR_CLA;Persist Security Info=False;User ID=sop_bct_spsa;Password=Sps4.2022#;MultipleActiveResultSets=False;Connection Timeout=30"  providerName="System.Data.SqlClient"/>
		<!--<add name="SGP" connectionString="Host=10.30.4.85; Database=SGP_PRD; Username=sgp_prd; Password=@:&gt;%X3Xq09Qv{ZE]" providerName="Npgsql" /> -->
		<add name="SGP" connectionString="Host=10.30.4.85; Database=SGP_DEV; Username=sgp_dev; Password=',I;bIvR&lt;x5rN8&quot;7I'" providerName="Npgsql" /> 
		<add name="CT2" connectionString="Data Source = (DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.11.11)(PORT = 1544)) (CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = SPT03))); User Id = SXCT2SP; Password = CT2remiX; Min Pool Size=1; Max Pool Size=10;" />
		<add name="BCT_TP" connectionString="Server=10.20.11.13\SQLTPSAV2;Initial Catalog=ASR_CLA;Persist Security Info=False;User ID=sop_bct_tpsa;Password=Bct2016$;MultipleActiveResultSets=False;Connection Timeout=30"  providerName="System.Data.SqlClient"/>
		<add name="CT2_TP" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.11.85)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = TPCT02))); PERSIST SECURITY INFO=TRUE; USER ID=SXCT2CTP; PASSWORD=SX202025TP; Min Pool Size=1; Max Pool Size=50;" />
		<add name="CT2_HP" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.20.11.11)(PORT = 1542)))(CONNECT_DATA = (SERVICE_NAME = HPT01))); PERSIST SECURITY INFO=TRUE; USER ID=ECTHP; PASSWORD=SE1010; Min Pool Size=1; Max Pool Size=50;" />
		<add name="BCT_HP" connectionString="Server=10.20.11.13\SQLHPSAV2;Initial Catalog=ASR_CLA;Persist Security Info=False;User ID=sop_bct_hpsa;Password=Bct2016$;MultipleActiveResultSets=False;Connection Timeout=30"  providerName="System.Data.SqlClient"/>

	</connectionStrings>
	<appSettings>
		<add key="SistemaCodigo" value="73" />
		<add key="SistemaAbreviatura" value="SDA" />
		<add key="SistemaVersion" value="2.0.0" />
		<add key="SistemaAmbiente" value="DESA" />
		<add key="CommandTimeout" value="120" />
		<add key="instancia" value="24-98-07-ee-de-c9-ce-c7-2f-18-b7-b1-fc-1f-d4-0f" />
		<add key="user_bd" value="c2-d0-f5-a6-17-44-f8-5c-33-3d-ae-20-6c-38-cb-46" />
		<add key="passw_bd" value="69-1d-96-bc-8e-2f-55-8f-41-e2-96-a5-c8-97-6b-54" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="MaximoProcesosBloque" value="10" />
		<!--  Credenciales de los servidores -->
		<add key="Usuario" value="root" />
		<add key="CLave" value="suse1234" />
		<!--  Commandos Linux -->
		<add key="NombreArchivo" value="WF_EODSteps" />
		<add key="ObtenerArchivo" value="find /home/NCR/webfront-endofday/safe/ -type f -mmin -240 | sort | tail -n 1 | cut -d/ -f 6 | cut -d- -f1" />
		<add key="HoraInicio" value="find /home/NCR/webfront-endofday/safe/ -type f -mtime -1 | xargs cat | grep BEGIN | cut -d, -f1" />
		<add key="HoraFin" value="find /home/NCR/webfront/safe/ -type f -name WFEOD1.log* -mtime -1 | xargs cat | grep 'Starting MAIN' | cut -c 1-19" />
		<add key="FechaCierre" value="date +'%Y-%m-%d' -d 'yesterday'" />
		<!--  Credenciales SFTP Archivos Autorizadores -->
		<add key="UsuarioSFTPArchivo" value="SINTEGRAPRD" />
		<add key="ClaveSFTPArchivo" value="Int3gr4c10n" />
		<add key="IPServidorSFTPArchivo" value="10.20.11.11" />
		<add key="RutaSFTPArchivo" value="suse1234" />
		<add key="RutaLog" value="C:\LogsSpsa\log_sgp.txt" />
		<add key="EjecutarJobActualizacionEstadoCierre" value="true" />
	</appSettings>
	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.6.2" />
		<httpRuntime targetFramework="4.6" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<entityFramework>
		<providers>
			<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
		</providers>
		<defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Npgsql" />
			<add name="Npgsql Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.1.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
		</DbProviderFactories>
	</system.data>
</configuration>