@{
    ViewBag.Title = "Perfil | Seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/plugins/vakata-jstree/dist/themes/default/style.min.css" rel="stylesheet" id="style" />
    <style>
        #tablePerfiles thead th {
            padding: 0px 22px !important;
        }

        #modalBodyMenus {
            height: 70vh;
            overflow-y: auto;
        }
    </style>
}

<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Perfiles</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Seguridad</li>
            <li class="breadcrumb-item1 active">Perfil</li>
        </ol>
    </div>
</div>


<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden">
            @Html.Partial("_CardHeader", "Listado de perfiles")
            <div class="card-body">
                <div class="col-xl-12">
                    <div class="form-group data-table-btn">
                        <button id="btnNuevoPerfil" class="btn btn-sm btn-primary mb-4  ms-2">
                            <i class="fe fe-plus-circle"></i> Nuevo Perfil
                        </button>
                        <button id="btnEditarPerfil" class="btn btn-sm btn-primary mb-4  ms-2">
                            <i class="fe fe-edit-3"></i> Editar Perfil
                        </button>
                        <button id="btnAsociarMenus" class="btn btn-sm btn-primary mb-4  ms-2">
                            <i class="fe fe-list"></i> Asociar Menus
                        </button>
                    </div>
                    <table id="tablePerfiles" class="table text-nowrap border-bottom">
                        <thead>
                            <tr>
                                <th class="border-bottom-0" style="font-size: 11px;">Código</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Nombre</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Tipo</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Estado</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Fec. creación</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Usuario creación</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Fec. modificación</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Usuario modificación</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="crearPerfilModal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloPerfilModalLabel">Crear Perfil</h6>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="crearPerfilForm">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label for="codPerfil" class="form-label">Código</label>
                            <input type="text" class="form-control form-control-sm" id="codPerfil" required>
                        </div>
                        <div class="col-md-9 form-group">
                            <label for="nomPerfil" class="form-label">Nombre del Perfil</label>
                            <input type="text" class="form-control form-control-sm" id="nomPerfil" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="sigla" class="form-label">Tipo</label>
                            <input type="text" class="form-control form-control-sm" id="tipo" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group select2-sm">
                                <label class="form-label">Estado</label>
                                <select class="form-control select2-show-search custom-select" id="indActivo">
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="btnGuardarPerfil">
                    <i class="fe fe-save"></i> Guardar
                </button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">
                    <i class="fe fe-delete"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal asociar menus-->
<div class="modal fade" id="asociarMenusModal" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloAsociarMenusModalLabel">Asociar Menus</h6>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBodyMenus">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group select2-sm">
                            <label class="form-label">Sistema</label>
                            <select class="form-control custom-select" id="cboSistema">
                                <option label="Seleccione un sistema"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div id="asociarMenuTree">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="btnGuardarMenus">
                    <i class="fe fe-save"></i> Guardar
                </button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">
                    <i class="fe fe-delete"></i> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Content/plugins/vakata-jstree/dist/jstree.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/date-picker/date-picker.js"></script>
    <script src="~/Content/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.maskedinput.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/ViewJs/Perfil.js"></script>
    <script type="text/javascript">
        $(function () {
            (function ($, undefined) {
                "use strict";
                $.jstree.plugins.noclose = function () {
                    this.close_node = $.noop;
                };
            })(jQuery);

            Perfil.init();
        });
    </script>

}


