
@model string
@{
    ViewBag.Title = "Administrar Factores MDR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .select2-container--default .select2-selection--single {
        font-size: 0.745rem;
    }

    .select2-results__option {
        font-size: 0.745rem;
    }
</style>

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Administrar Factores MDR</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Factores MDR</li>
            <li class="breadcrumb-item1 active">Administrar</li>
        </ol>
    </div>
</div>

<div class="col-xl-12">
    <div class="card overflow-hidden">
        @Html.Partial("_CardHeader", "Factores MDR")
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cboEmpresa" class="form-label">Empresa</label>
                        <select class="form-control select2-show-search custom-select filtro" id="cboEmpresa">
                            <option value="0">Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cboPeriodo" class="form-label">Periodo</label>
                        <select class="form-control select2-show-search custom-select filtro" id="cboPeriodo">
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cboOperador" class="form-label">Operador</label>
                        <select class="form-control select2-show-search custom-select filtro" id="cboOperador">
                            <option value="0">Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="cboClasificacion" class="form-label">Clasificación</label>
                        <select class="form-control select2-show-search custom-select filtro" id="cboClasificacion">
                            <option value="0">Todos</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <button id="btnCargarBines" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-upload-cloud"></i> Cargar Bines
                    </button>
                    <input type="file" id="excelBinesTmp" style="display: none;">
                    <button id="btnDescargarMaestro" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-download-cloud"></i> Descargar Maestro
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-11">
                            <table id="tableFactores" class="table table-bordered text-nowrap border-bottom">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 30px; text-align: center;">
                                            <input type="checkbox" id="checkAllRows" />
                                        </th>
                                        <th>Empresa</th>
                                        <th>Operador</th>
                                        <th>Clasificacion</th>
                                        <th>Factor</th>
                                        <th>IndActivo</th>
                                        <th>UsuCreacion</th>
                                        <th>FecCreacion</th>
                                        <th>UsuModifica</th>
                                        <th>FecModifica</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-1 d-flex justify-content-start align-items-center">
                            <div class="d-flex flex-column">
                                <button id="btnNuevoFactor" class="btn btn-sm btn-primary mb-2">
                                    <i class="fe fe-plus"></i> Nuevo
                                </button>
                                <button id="btnEditarFactor" class="btn btn-sm btn-primary mb-2">
                                    <i class="fe fe-edit-2"></i> Modificar
                                </button>
                                <button id="btnEliminarFactor" class="btn btn-sm btn-primary mb-2">
                                    <i class="fe fe-trash"></i> Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para “Nuevo Factor” -->
<div class="modal fade" id="modalNuevoFactor" tabindex="-1" aria-labelledby="modalNuevoFactorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevoFactorLabel">Nuevo Factor MDR</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formNuevoFactor">
                    <div class="mb-2">
                        <label for="modalCboEmpresa" class="form-label">Empresa</label>
                        <select id="modalCboEmpresa" class="form-control select2-show-search">
                            <option value="0">Todos</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modalCboPeriodo" class="form-label">Periodo</label>
                        <select id="modalCboPeriodo" class="form-control select2-show-search">
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modalCboOperador" class="form-label">Operador</label>
                        <select id="modalCboOperador" class="form-control select2-show-search">
                            <option value="0">Todos</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modalCboClasificacion" class="form-label">Clasificación</label>
                        <select id="modalCboClasificacion" class="form-control select2-show-search">
                            <option value="0">Todos</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="modalInputFactor" class="form-label">Factor</label>
                        <input type="number" step="0.0001" id="modalInputFactor" class="form-control" value="0.0000" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="modalChkActivo">Activo</label>
                        <input type="checkbox" class="form-check" id="modalChkActivo">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="btnGuardarNuevoModal" class="btn btn-primary">Guardar</button>
                <button type="button" id="btnGuardarCambiosModal" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/Content/ViewJs/AdministrarFactorMdr.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AdministrarFactorMdr.init();
        });
    </script>
}
