@model string
@{
    ViewBag.Title = "Inventario Cajas | Locales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{


    <style>


        fieldset.default {
            margin-top: 5px;
            margin-bottom: 10px;
            display: block;
            min-inline-size: min-content;
            border-width: 1px;
            border-style: solid;
            border-color: #c5c7d5;
            border-image: initial;
            padding: 20px;
            border-radius: 5px;
        }

        legend.default {
            display: block;
            padding-inline-start: 2px;
            padding-inline-end: 2px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            width: auto;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0px;
            color: #263871;
            float: none;
        }

        .col-form-label {
            font-weight: bold;
            font-size: 0.75rem;
        }
    </style>

}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Registro de inventario</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Locales</li>
            <li class="breadcrumb-item1 active">Inventario Cajas</li>
        </ol>
    </div>
</div>


<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden needs-validation" id="formInventario">
            @Html.Partial("_CardHeader", "Administracion e inventario de cajas")

            <div class="card-body pt-3 pb-0">
                <div class="row mb-4" id="btn-local">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" id="btnNuevo" class="btn btn-sm btn-primary btn-block">Nuevo</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" id="btnGuardar" class="btn btn-sm btn-primary btn-block">Guardar</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12" style="display:none;">
                        <button type="button" id="btnBuscar" class="btn btn-sm btn-primary btn-block">Buscar</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" id="btnImportar" class="btn btn-sm btn-primary btn-block">Importar Excel</button>
                        <input type="file" id="excelInventario" style="display: none;">
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-link btn-sm" id="btnDescargarPlantillas">Descargar plantillas</a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end">
                        <button type="button" id="btnDescargarMaestro" class="btn btn-sm btn-primary ">Descargar maestro</button>
                    </div>
                </div>
            </div>

            <div class="card-body  pb-0">
                <div class="row">
                    <div class="col-xl-6">

                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-2">Empresa</label>
                            <div class="col-xl-10">
                                <select class="form-control is-valid select2-show-search custom-select" id="cboEmpresa" required>
                                    <option label="Seleccione una empresa"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">

                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-2">Formato</label>
                            <div class="col-xl-10">
                                <select class="form-control select2-show-search custom-select" id="cboFormato" required>
                                    <option label="Seleccione un formato"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">

                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-2">Local</label>
                            <div class="col-xl-10">
                                <select class="form-control is-valid select2-show-search custom-select" id="cboLocal" required>
                                    <option label="Seleccione un local"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-2">Num POS</label>
                            <div class="col-xl-10">
                                <select class="form-control select2-show-search custom-select" id="cboNumPos" required>
                                    <option label="Seleccione una caja"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body pt-3 pb-0">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-4">F Lising</label>
                            <div class="col-xl-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="feather feather-calendar"></span>
                                        </div>
                                    </div><input id="txtFechaLising" class="form-control form-control-sm fc-datepicker" placeholder="dd/mm/aaaa" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-4">Estado</label>
                            <div class="col-xl-8">
                                <select class="form-control select2-show-search custom-select" id="cboEstado" required>
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-4">S.O.</label>
                            <div class="col-xl-8">
                                <select class="form-control select2-show-search custom-select" id="cboSo">
                                    <option value="L" selected>Linux</option>
                                    <option value="W">Windows</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-4">Versión</label>
                            <div class="col-xl-8">
                                <input type="text" class="form-control form-control-sm" id="txtVersion">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-4">F Asignac.</label>
                            <div class="col-xl-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="feather feather-calendar"></span>
                                        </div>
                                    </div><input id="txtFechaAsignacion" class="form-control form-control-sm fc-datepicker" placeholder="dd/mm/aaaa" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3" style="display:none;">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-4">Ranking</label>
                            <div class="col-xl-8">
                                <input type="text" class="form-control form-control-sm" id="txtRanking">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-4">F Apertura</label>
                            <div class="col-xl-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="feather feather-calendar"></span>
                                        </div>
                                    </div><input id="txtFechaApertura" class="form-control form-control-sm fc-datepicker" placeholder="dd/mm/aaaa" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-2">Ubicación</label>
                            <div class="col-xl-10">
                                <input type="text" class="form-control form-control-sm" id="txtUbicación">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-4">Sede</label>
                            <div class="col-xl-8">
                                <input type="text" class="form-control form-control-sm" id="txtSede">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-xl-4">Caja</label>
                            <div class="col-xl-8">
                                <input type="text" class="form-control form-control-sm" id="txtCaja">
                            </div>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <fieldset class="default">
                            <legend class="default">Datos del activo (Caja)</legend>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class=" card-title text-center"><b>Modelo:</b></div>
                                </div>
                                <div class="col-xl-6">
                                    <div class=" card-title text-center"><b>Serie:</b></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-xl-3">CPU</label>
                                        <div class="col-xl-9">
                                            <input type="text" class="form-control form-control-sm" id="txtModeloCpu">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-group row  mb-2">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control form-control-sm" id="txtSerieCpu">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-xl-3">Impresora</label>
                                        <div class="col-xl-9">
                                            <input type="text" class="form-control form-control-sm" id="txtModeloImpresora">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-group row mb-2">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control form-control-sm" id="txtSerieImpresora">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-xl-3">Dynakey</label>
                                        <div class="col-xl-9">
                                            <input type="text" class="form-control form-control-sm" id="txtModeloDynakey">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-group row mb-2">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control form-control-sm" id="txtSerieDynakey">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-xl-3">Scanner</label>
                                        <div class="col-xl-9">
                                            <input type="text" class="form-control form-control-sm" id="txtModeloScanner">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-group row mb-2">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control form-control-sm" id="txtSerieScanner">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-xl-3">Gaveta</label>
                                        <div class="col-xl-9">
                                            <input type="text" class="form-control form-control-sm" id="txtModeloGaveta">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-group row mb-2">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control form-control-sm" id="txtSerieGaveta">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-xl-3">Monitor</label>
                                        <div class="col-xl-9">
                                            <input type="text" class="form-control form-control-sm" id="txtModeloMonitor">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="form-group row mb-2">
                                        <div class="col-xl-12">
                                            <input type="text" class="form-control form-control-sm" id="txtSerieMonitor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-xl-5">
                        <div class="row">
                            <div class="col-xl-12">
                                <fieldset class="default">
                                    <legend class="default">Tipo</legend>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="form-group row mb-2 select2-sm">
                                                <label class="col-form-label col-xl-3">Carac 1</label>
                                                <div class="col-xl-9">
                                                    <select class="form-control select2-show-search custom-select" id="cboCaract1">
                                                        <option label="Seleccione una opcion"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="form-group row mb-2 select2-sm">
                                                <label class="col-form-label col-xl-3">Carac 2</label>
                                                <div class="col-xl-9">
                                                    <select class="form-control select2-show-search custom-select" id="cboCaract2">
                                                        <option label="Seleccione una opcion"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="form-group row mb-2 select2-sm">
                                                <label class="col-form-label col-xl-3">Carac 3</label>
                                                <div class="col-xl-9">
                                                    <select class="form-control select2-show-search custom-select" id="cboCaract3">
                                                        <option label="Seleccione una opcion"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="col-xl-12">
                                <fieldset class="default">
                                    <legend class="default">Auditoria</legend>
                                    <div class="row">

                                        <div class="col-xl-7">
                                            <div class="form-group row mb-2">
                                                <label class="col-form-label col-xl-4">Creado</label>
                                                <div class="col-xl-8">
                                                    <input type="text" class="form-control form-control-sm" id="txtUsuarioCreacion" value="@SPSA.Autorizadores.Web.Utiles.WebSession.Login" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-5">
                                            <div class="form-group row mb-2">
                                                <div class="col-xl-12">
                                                    <input type="text" class="form-control form-control-sm" id="txtFechaCreacion" value="@Model" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-7">
                                            <div class="form-group row mb-2">
                                                <label class="col-form-label col-xl-4">Modifi.</label>
                                                <div class="col-xl-8">
                                                    <input type="text" class="form-control form-control-sm" id="txtUsuarioModificacion" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-5">
                                            <div class="form-group row mb-2">
                                                <div class="col-xl-12">
                                                    <input type="text" class="form-control form-control-sm" id="txtFechaModificacion" disabled>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="button" id="btnRegresar" class="btn btn-sm btn-primary">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xl-12">
        <div class="card overflow-hidden needs-validation" id="formListadoInventario">
            @Html.Partial("_CardHeader", "Listado inventario de cajas")

            <div class="card-body pt-3 pb-0">
                <div class="row mb-4">
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" id="btnBuscarListado" class="btn btn-sm btn-primary btn-block">Buscar</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <button type="button" id="btnNuevoListado" class="btn btn-sm btn-primary btn-block">Nuevo</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-3">Empresa</label>
                            <div class="col-xl-9">
                                <select class="form-control is-valid select2-show-search custom-select" id="cboEmpresaListado" required>
                                    <option label="Seleccione una empresa"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-4">Formato</label>
                            <div class="col-xl-8">
                                <select class="form-control select2-show-search custom-select" id="cboFormatoListado" required>
                                    <option label="Seleccione un formato"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-3">Local</label>
                            <div class="col-xl-9">
                                <select class="form-control is-valid select2-show-search custom-select" id="cboLocalListado" required>
                                    <option label="Seleccione un local"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table id="tableListado" class="table text-nowrap border-bottom">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL LOCAL-->
<div class="modal fade" id="modalInventario" data-bs-backdrop="static">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Seleccione un registro</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <table id="tableInventario" class="table text-nowrap border-bottom">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAceptar" class="btn btn-sm btn-primary">Aceptar</button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ERRORES-->
<div class="modal fade" id="modalErroresImportacionCaja" data-bs-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title" id="tituloModalCaja"></h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fila</th>
                            <th>Mensaje</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyErroresCaja">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/Content/plugins/date-picker/date-picker.js"></script>
    <script src="~/Content/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.maskedinput.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/ViewJs/InventarioCaja.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            InventarioCaja.init();
        });
    </script>
}


