
@{
    ViewBag.Title = "Administrar | Autorizadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Creación de autorizadores para caja</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index","Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Autorizador</li>
            <li class="breadcrumb-item1 active">Administrar</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden">
            <div class="card-header bg-primary ">
                <h6 class="card-title text-white">Colaboradores activos</h6>
                <div class="card-options ">
                    <a href="javascript:void(0);" class="card-options-collapse me-2" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group data-table-btn" id="button-group">
                    <button id="btnAsignar" class="btn btn-sm btn-primary mb-4  ms-2">Asignar Autorizador</button>
                    <button id="btnBuscarColaborador" class="btn btn-sm btn-primary mb-4 ms-2">Buscar Empleado</button>
                    <div class="checkbox  ms-2" style="display: inline-block;">
                        <label class="unselectable  ms-2">
                            <input id="chkActivos" type="checkbox"> ACTIVOS
                        </label>
                        <label class="unselectable ms-2">
                            <input id="chkAnulados" type="checkbox"> ANULADOS
                        </label>
                    </div>
                </div>
                <div>
                    <table id="tableColaborador" class="table text-nowrap border-bottom">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="card overflow-hidden">
            <div class="card-header bg-primary ">
                <h3 class="card-title text-white">Colaboradores Con Autorizadores Activos</h3>
                <div class="card-options ">
                    <a href="javascript:void(0);" class="card-options-collapse me-2" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
                </div>
            </div>
            <div class="card-body">

                <div class="form-group data-table-btn">
                    <button id="btnGenerar" class="btn btn-sm btn-primary mb-4 ms-2">Generar Archivo</button>
                    <button id="btnEliminar" class="btn btn-sm btn-primary mb-4 ms-2">Eliminar Autorizador</button>
                    <div class="checkbox  ms-2" style="display: inline-block;">
                        <label class="unselectable ms-2">
                            <input id="chkActivosAutorizadores" type="checkbox"> ACTIVOS
                        </label>
                        <label class="unselectable ms-2">
                            <input id="chkInactivosAutorizadores" type="checkbox"> INACTIVOS
                        </label>
                    </div>

                </div>
                <table id="tableAutorizador" class="table text-nowrap border-bottom">
                    <thead>
                        @* <tr>
                                <th class="border-bottom-0" style="font-size: 11px;">Autorizador</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Código</th>
                                <th class="border-bottom-0" style="font-size: 11px;">A. Paterno</th>
                                <th class="border-bottom-0" style="font-size: 11px;">A. Materno</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Nombre</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Estado</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Documento</th>
                                <th class="border-bottom-0" style="font-size: 11px;">F. Registro</th>
                                <th class="border-bottom-0" style="font-size: 11px;">U. Registro</th>
                                <th class="border-bottom-0" style="font-size: 11px;">BIN Tarjeta</th>
                                <th class="border-bottom-0" style="font-size: 11px;">Tarjeta impresa</th>

                            </tr>*@
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- MODAL -->
<div class="modal fade" id="modalBusqueda" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Busqueda de colaborador</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group data-table-btn">
                    <div class="checkbox  ms-2" style="display: inline-block;">
                        <label class="unselectable  ms-2">
                            <input id="chkActivosTodos" type="checkbox"> ACTIVOS
                        </label>
                        <label class="unselectable ms-2">
                            <input id="chkAnuladosTodos" type="checkbox"> ANULADOS
                        </label>
                    </div>
                </div>
                <table id="tableBusquedaColaborador" class="table text-nowrap border-bottom">
                    <thead>
                      
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btnAsignarAutorizadorBusqueda" class="btn btn-sm btn-primary">Asignar Autorizador</button>
                <button class="btn btn-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{


    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/datatables.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/ViewJs/Autorizador.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Autorizador.init();
        });
    </script>
}