
@{
    ViewBag.Title = "Creación masiva por local | Autorizadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css{


    <style>

        .col-form-label {
            font-weight: bold;
            font-size: 0.75rem;
        }
    </style>


}
<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Creación masiva de autorizadores</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Autorizadores</li>
            <li class="breadcrumb-item1 active">Creación masiva por local</li>
        </ol>
    </div>
</div>

<div class="row row-sm">
    <div class="col-xl-12">
        <div class="card overflow-hidden needs-validation">
            @Html.Partial("_CardHeader", "Locales")

            <div class="card-body  pb-0">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-3">Empresa</label>
                            <div class="col-xl-9">
                                <select class="form-control is-valid select2-show-search custom-select" id="cboEmpresa" required>
                                    <option label="Seleccione una opcion"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="form-group row mb-2 select2-sm">
                            <label class="col-form-label col-xl-3">Formato</label>
                            <div class="col-xl-9">
                                <select class="form-control is-valid select2-show-search custom-select" id="cboFormato" required>
                                    <option label="Seleccione una opcion"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <button type="button" id="btnAsignar" class="btn btn-sm btn-primary">Asignar autorizador</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group data-table-btn">
                            <div class="checkbox  ms-2" style="display: inline-block;">
                                <label class="unselectable ms-2">
                                    <input id="chkTodos" type="checkbox"> Seleccionar todos
                                </label>
                            </div>

                        </div>
                        <table id="tableLocal" class="table text-nowrap border-bottom">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{


    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/date-picker/date-picker.js"></script>
    <script src="~/Content/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.maskedinput.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/ViewJs/AutorizadorMasivo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AutorizadorMasivo.init();
        });
    </script>

}
