
@model string
@{
    ViewBag.Title = "Administrar Proveedors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Administrar Proveedores</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Proveedores</li>
            <li class="breadcrumb-item1 active">Administrar</li>
        </ol>
    </div>
</div>

<div class="col-xl-12">
    <div class="card overflow-hidden">
        @Html.Partial("_CardHeader", "Proveedores")
        <div class="card-body">
            <div class="row mb-0">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtFiltroVariosBuscar" class="form-label">Buscar Por: </label>
                        <input type="text" class="form-control form-control-sm text-uppercase" id="txtFiltroVariosBuscar" oninput="this.value = this.value.toUpperCase();" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group select2-sm">
                        <label for="cboIndActivoBuscar" class="form-label">Estado</label>
                        <select class="form-control select2-show-search" id="cboIndActivoBuscar">
                            <option value="0">Todos</option>
                            <option value="S">Activo</option>
                            <option value="N">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="txtzzzzz" class="form-label"></label>
                        <button id="btnBuscar" class="btn btn-sm btn-primary mb-4 ms-1"><i class="fe fe-search me-1"></i>Buscar</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <button id="btnNuevoProveedor" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-plus"></i> Nuevo
                    </button>
                    <button id="btnEditarProveedor" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-edit-2"></i> Modificar
                    </button>
                    <button id="btnEliminarProveedor" class="btn btn-sm btn-primary me-2 mb-2">
                        <i class="fe fe-trash"></i> Eliminar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table id="tableProveedores" class="table table-bordered text-nowrap border-bottom">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 30px; text-align: center;">
                                    <input type="checkbox" id="checkAllRows" />
                                </th>
                                <th>Ruc</th>
                                <th>RazonSocial</th>
                                <th>Activo</th>
                                <th>U. Creacion</th>
                                <th>F. Creacion</th>
                                <th>U. Modifica</th>
                                <th>F. Modifica</th>
                                <th>U. Elimina</th>
                                <th>F. Elimina</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal para “Nueva Proveedor” -->
<div class="modal fade" id="modalNuevoProveedor" tabindex="-1" aria-labelledby="modalNuevoProveedorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTituloProveedorLabel">Nueva Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formNuevoProveedor">
                    <div class="mb-3">
                        <label for="modalInputRuc" class="form-label">Ruc</label>
                        <input type="text" id="modalInputRuc" class="form-control form-control-sm" maxlength="11" />
                    </div>

                    <div class="mb-3">
                        <label for="modalInputRazonSocial" class="form-label">Razón Social</label>
                        <input type="text" id="modalInputRazonSocial" class="form-control form-control-sm text-uppercase" oninput="this.value = this.value.toUpperCase();" />
                    </div>

                    <div class="mb-3">
                        <label for="modalInputNomComercial" class="form-label">Nombre Comercial</label>
                        <input type="text" id="modalInputNomComercial" class="form-control form-control-sm text-uppercase" oninput="this.value = this.value.toUpperCase();" />
                    </div>

                    <div class="mb-3">
                        <label for="modalInputDirFiscal" class="form-label">Dirección Fiscal</label>
                        <input type="text" id="modalInputDirFiscal" class="form-control form-control-sm text-uppercase" oninput="this.value = this.value.toUpperCase();" />
                    </div>

                    <div class="mb-3">
                        <label for="modalInputContacto" class="form-label">Contacto</label>
                        <input type="text" id="modalInputContacto" class="form-control form-control-sm text-uppercase" oninput="this.value = this.value.toUpperCase();" />
                    </div>

                    <div class="mb-3">
                        <label for="modalInputTelefono" class="form-label">Teléfono</label>
                        <input type="text" id="modalInputTelefono" class="form-control form-control-sm text-uppercase" oninput="this.value = this.value.toUpperCase();" />
                    </div>

                    <div class="mb-3">
                        <label for="modalInputEmail" class="form-label">Email</label>
                        <input type="text" id="modalInputEmail" class="form-control form-control-sm text-uppercase" oninput="this.value = this.value.toUpperCase();" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="modalChkActivo">Activo</label>
                        <input type="checkbox" class="form-check" id="modalChkActivo">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                    <i class="fe fe-arrow-left-circle"></i> Cerrar
                </button>
                <button type="button" id="btnGuardarNuevoModal" class="btn btn-sm btn-primary">
                    <i class="fe fe-save"></i> Guardar
                </button>
                <button type="button" id="btnGuardarCambiosModal" class="btn btn-sm btn-primary">
                    <i class="fe fe-save"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/Content/ViewJs/AdministrarProveedor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AdministrarProveedor.init();
        });
    </script>
}