@model string
@{
    ViewBag.Title = "Solicitud Usuarios ASR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .radio-lg {
        transform: scale(2.0); /* Agranda el radio button */
        margin-right: 0.5rem; /* Espaciado a la derecha si lo necesitas */
    }

    .radio-label-lg {
        font-size: 0.8rem;
        margin-left: 0.2rem;
    }
</style>

<!--Page header-->
<div class="page-header d-lg-flex d-block">
    <div class="page-leftheader">
        <div class="page-title">Solicitud Usuarios ASR</div>
    </div>
    <div class="page-rightheader ms-md-auto">
        <ol class="breadcrumb1">
            <li class="breadcrumb-item1"><a href=@Url.Action("Index", "Home", new {area=""})>Inicio</a></li>
            <li class="breadcrumb-item1 active">Solicitud usuario</li>
            <li class="breadcrumb-item1 active">Administrar</li>
        </ol>
    </div>
</div>

<div class="card overflow-hidden">
    @Html.Partial("_CardHeader", "Filtros")
    <div class="card-body">
        <div class="row g-2">
            <div class="col-md-3 d-none">
                <div class="form-group">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control form-control-sm" id="txtUsuario" value="@SPSA.Autorizadores.Web.Utiles.WebSession.Login" disabled>
                </div>
            </div>
            <div class="col-md-3 d-none">
                <div class="form-group">
                    <label for="txtCodEmpresaxx" class="form-label">CodigoEmpresa</label>
                    <input type="text" class="form-control form-control-sm" id="txtCodEmpresaxx" value="@SPSA.Autorizadores.Web.Utiles.WebSession.JerarquiaOrganizacional.CodEmpresa" disabled>
                </div>
            </div>
            <div class="col-md-3 d-none">
                <div class="form-group">
                    <label for="txtCodLocalxx" class="form-label">Local</label>
                    <input type="text" class="form-control form-control-sm" id="txtCodLocalxx" value="@SPSA.Autorizadores.Web.Utiles.WebSession.JerarquiaOrganizacional.CodLocal" disabled>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group select2-sm">
                    <label for="cboEstadoBuscar" class="form-label">Estado</label>
                    <select class="form-control form-control-sm form-select" id="cboEstadoBuscar">
                        <option value="">Todos</option>
                        <option value="S">Solicitado</option>
                        <option value="A">Aprobado</option>
                        <option value="R">Rechazado</option>
                        <option value="N">Anulado</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cboTipUsuarioBuscar" class="form-label">Tipo Usuario</label>
                    <select class="form-control form-control-sm form-select" id="cboTipUsuarioBuscar">
                        <option value="">Todos</option>
                        <option value="A">Autorizador</option>
                        <option value="C">Cajero</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cboTipColaboradorBuscar" class="form-label">Tipo Colaborador</label>
                    <select class="form-control form-control-sm form-select" id="cboTipColaboradorBuscar">
                        <option value="">Todos</option>
                        <option value="I">Interno</option>
                        <option value="E">Externo</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label"> Texto:</label>
                    <input type="text" class="form-control form-control-sm" id="txtFiltroBuscar" placeholder="Ingrese texto a filtrar" oninput="this.value=this.value.toUpperCase();" />
                    @*<input type="text" class="form-control form-control-sm" id="txtFiltroVariosSolicitudes" placeholder="Buscar..." />*@
                </div>
        </div>
        @*<div class="col-md-2 d-flex align-items-end">
            <div class="form-group">
                <button id="btnBuscarColabExt" class="btn btn-sm btn-primary w-100">
                    <i class="fe fe-search me-1"></i>Buscar
                </button>
            </div>
        </div>*@
        </div>

        <div class="my-3">
            <button id="btnModalColabInt" class="btn btn-sm btn-primary me-2">
                <i class="fe fe-users me-1"></i>Colaborador Interno
            </button>
            <button id="btnModalColabExt" class="btn btn-sm btn-primary me-2">
                <i class="fe fe-users me-1"></i>Colaborador Externo
            </button>
            <button id="btnEliminarSolicitud" class="btn btn-sm btn-primary me-2">
                <i class="fe fe-x-circle me-1"></i>Eliminar Sol.
            </button>
            <button id="btnModalColabInt2" class="btn btn-sm btn-primary me-2">
                <i class="fe feather-search me-1"></i>Buscar
            </button>
            <button id="btnDescargarSolicitudes" class="btn btn-sm btn-primary me-2">
                <i class="fe fe-download me-1"></i>Descargar
            </button>

        </div>

        <table id="tableSolicitudes" class="table table-bordered text-nowrap border-bottom w-100">
            <thead class="thead-light">
                <tr>
                    <th style="font-size:11px;">Nro. Solicitud</th>
                    <th style="font-size:11px;">CodEmpresa</th>
                    <th style="font-size:11px;">CodLocal</th>
                    <th style="font-size:11px;">Código</th>
                    <th style="font-size:11px;">Nombre y Apellido</th>
                    <th style="font-size:11px;">Tipo Usuario</th>
                    <th style="font-size:11px;">Tipo Colaborador</th>
                    <th style="font-size:11px;">Estado</th>
                    <th style="font-size:11px;">Solicitante</th>
                    <th style="font-size:11px;">Acción</th>
                    <th style="font-size:11px;">Fec. Solicitud</th>
                    <th style="font-size:11px;">Aprobador</th>
                    <th style="font-size:11px;">Fec. Aprobación</th>
                    <th style="font-size:11px;">Motivo</th>
                    <th style="font-size:11px;">Eliminador</th>
                    <th style="font-size:11px;">Fec. Eliminación</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- MODAL COLABORADOR INTERNO -->
<div class="modal fade" id="modalColabInt" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Colaboradores Internos</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 d-flex justify-content-between align-items-center mb-4 ">
                    <div class="d-flex align-items-center">
                        <button id="btnSolicitarCrearColabInt" class="btn btn-sm btn-primary ms-1 me-2">
                            <i class="fe fe-plus-circle me-1"></i>Solicitar Crear
                        </button>

                        <button id="btnSolicitarEliminarColabInt" class="btn btn-sm btn-primary ms-1 me-4">
                            <i class="fe fe-plus-circle me-1"></i>Solicitar Eliminar
                        </button>

                        <div class="form-check form-check-inline d-flex align-items-center">
                            <input class="form-check-input radio-lg" type="radio" name="tipoUsuarioInt" id="radioAutorizadorInt" value="A" checked>
                            <label class="form-check-label radio-label-lg" for="radioAutorizadorInt">Autorizador</label>
                        </div>
                        <div class="form-check form-check-inline d-flex align-items-center">
                            <input class="form-check-input radio-lg" type="radio" name="tipoUsuarioInt" id="radioCajeroInt" value="C">
                            <label class="form-check-label radio-label-lg" for="radioCajeroInt">Cajero</label>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="text" class="form-control" id="txtFiltroVariosInt" placeholder="Buscar..." />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="row">
                        <table id="tableColaboradoresInt" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- MODAL COLABORADOR INTERNO 2 -->
<div class="modal fade" id="modalColabInt2" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Colaboradores Internos</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 d-flex justify-content-between align-items-center mb-4 ">
                    <div class="d-flex align-items-center">
                        <label class="form-label">Lista completa de colaboradores internos</label>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="text" class="form-control form-control-sm border-secondary" id="txtFiltroVariosInt2" placeholder="Buscar..." />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="row">
                        <table id="tableColaboradoresInt2" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- MODAL COLABORADOR EXTERNO -->
<div class="modal fade" id="modalColabExt" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Colaboradores Externos</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="col-xl-12 d-flex justify-content-between align-items-center mb-4 ">
                    <div class="d-flex align-items-center">
                        <button id="btnSolicitarCrearColabExt" class="btn btn-sm btn-primary ms-1 me-2">
                            <i class="fe fe-plus-circle me-1"></i>Solicitar Crear
                        </button>

                        <button id="btnSolicitarEliminarColabExt" class="btn btn-sm btn-primary ms-1 me-4">
                            <i class="fe fe-plus-circle me-1"></i>Solicitar Eliminar
                        </button>

                        <div class="form-check form-check-inline d-flex align-items-center">
                            <input class="form-check-input radio-lg" type="radio" name="tipoUsuarioExt" id="radioAutorizadorExt" value="A" checked>
                            <label class="form-check-label radio-label-lg" for="radioAutorizadorExt">Autorizador</label>
                        </div>
                        <div class="form-check form-check-inline d-flex align-items-center">
                            <input class="form-check-input radio-lg" type="radio" name="tipoUsuarioExt" id="radioCajeroExt" value="C">
                            <label class="form-check-label radio-label-lg" for="radioCajeroExt">Cajero</label>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="text" class="form-control form-control-sm border-secondary" id="txtFiltroVariosExt" placeholder="Buscar..." />
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="row">
                        <table id="tableSolicitudes" class="table text-nowrap border-bottom">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                    <th class="border-bottom-0" style="font-size: 11px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/Content/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/Content/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/Content/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/js/sweet-alert.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/Content/ViewJs/SolicitudUsuarioASR.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            SolicitudUsuarioASR.init();
        });
    </script>
}